.container {
  display: flex;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fafafa;
}

.sidebar, .insight-panel {
  width: 20%;
  padding: 15px;
  overflow-y: auto;
  background-color: #f9f9f9;
  border-right: 1px solid #e0e0e0;
}

.sidebar {
  border-right: none;
  border-left: 1px solid #e0e0e0;
}

.pdf-viewer {
  width: 60%;
  height: 100vh;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
